<a href="https://colab.research.google.com/github/thiagorainmaker77/nlp_ufg/blob/main/nlp_ufg.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [161]:
import pandas as pd
import re
import nltk
import gensim
from functools import partial
from nltk.corpus import stopwords

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [123]:
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [155]:
uri_train  = 'https://raw.githubusercontent.com/thiagorainmaker77/nlp_ufg/main/train.csv'
df_train = pd.read_csv(uri_train).drop(columns=['Created At', 
                                                'Geo Coordinates.latitude', 
                                                'Geo Coordinates.longitude', 
                                                'User Location',  
                                                'Username', 
                                                'User Screen Name', 
                                                'Retweet Count', 
                                                'Observação', 
                                                'Id'])

In [156]:
df_train

                                                   Text Classificacao
0     Dois são detidos ao tentar jogar celulares e d...      Positivo
1     me matan esas minas q cambian 554 veces su fot...        Neutro
2     Líderes de motim em presídio de Minas Gerais s...      Positivo
3     #Mídia:  Press Release from Business Wire : Di...        Neutro
4     Vacinação contra febre amarela é intensificada...      Positivo
...                                                 ...           ...
6554  Rio faz bloqueio contra febre amarela em munic...      Positivo
6555  Governador Fernando Pimentel entrega 401 veícu...      Positivo
6556  Secretaria de Educação faz reformulações para ...      Positivo
6557  E governo ainda quer indenizar a família dos b...        Neutro
6558  Presos por roubo à casa em Juiz de Fora têm hi...      Positivo

[6559 rows x 2 columns]

In [157]:
stopwords = nltk.corpus.stopwords.words('portuguese')
for i in stopwords :
    df_train = df_train.replace(to_replace=r'\b%s\b'%i, value="",regex=True)

In [158]:

def replaceAll(text):
  text = re.sub(r'(\\u[0-9A-Fa-f]+)',r'', text)       
  text = re.sub(r'[^\x00-\x7f]',r'',text)
  text = re.sub(r"(\.)\1+", ' multiStop ', text)
  text = re.sub(r"(\?)\1+", ' multiQuestion ', text)
  text = re.sub('((www\.[^\s]+)|(https?://[^\s]+))','url',text)
  text = re.sub(r'#([^\s]+)', r'\1', text)
  text = re.sub(r"(\!)\1+", ' multiExclamation ', text)
  text = re.sub('@[^\s]+','atUser',text)

  return text

In [159]:
for index, row in df_train.iterrows():
  row['Text'] = replaceAll(row['Text'])

In [164]:
tf = CountVectorizer()
tf_X = tf.fit_transform(df_train['Text'])

tfidf = TfidfVectorizer()
tfidf_X = tfidf.fit_transform(df_train['Text'])

<6559x5649 sparse matrix of type '<class 'numpy.float64'>'
	with 74038 stored elements in Compressed Sparse Row format>